html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-weight:inherit;
    font-style:inherit;
    font-family:inherit;
    font-size:100%;
    vertical-align:baseline
}






body{
    line-height:1;
    color:#000;
    background:#fff;
}



ol,ul{
    list-style:none
}

table{
    border-collapse:separate;
    border-spacing:0;
    vertical-align:middle
}

caption,th,td{
    text-align:left;
    font-weight:normal;
    vertical-align:middle
}

a img{
    border:none
}

html{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

html a{
    color:#000000;
    text-decoration:underline
}


html a:hover {
    color: #6699ff;
}


body{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    font-family:'Maria Pro',Helvetica,Arial,sans-serif;
    -webkit-transition:opacity 0.2s;
    -moz-transition:opacity 0.2s;
    -o-transition:opacity 0.2s;
    -ms-transition:opacity 0.2s;
    transition:opacity 0.2s;
    background:#ffffff;
    color:#000000;
    display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:box;display:
        flex;min-height:100vh;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    -o-box-orient:vertical;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin:0;
    -webkit-transition:background 0.2s ease;
    -moz-transition:background 0.2s ease;
    -o-transition:background 0.2s ease;
    -ms-transition:background 0.2s ease;
    transition:background 0.2s ease;}
@media (max-width: 480px) and (min-width: 320px){body{line-height:28px}
}body > #wrapper{height:auto;min-height:100%}
@font-face{
    font-family:'Maria Pro';src:url("../fonts/maria.eot");src:url("../fonts/maria.eot?#iefix") format('embedded-opentype'),url("../fonts/maria.woff") format('woff'),url("../fonts/maria.ttf") format('truetype'),url("../fonts/maria.svg#Maria Pro") format('svg');
    font-weight:'normal';
    font-style:normal
}

@media screen and (-webkit-min-device-pixel-ratio:0){@font-face{
    font-family:'Maria Pro';src:url("../fonts/maria.svg#Maria Pro") format('svg')}
}@font-face{font-family:'Cormorant Garamond', serif;
    font-weight:'normal';
    font-style:normal
}

@media screen and (-webkit-min-device-pixel-ratio:0){@font-face{
    font-family:'Cormorant Garamond', serif;
   }em{font-style:italic}

.main{
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
    box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1
}

.index-masthead{
    width:100%;
    padding:30px 0 0 30px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
    

@media (min-width : 480px) and (max-width : 1200px){.index-masthead{
    margin-bottom:30px
    }
    
}@media (max-width: 480px) and (min-width: 320px){.index-masthead{
    margin-bottom:30px;
    padding:0
    }
    
}.index-masthead-avery{
    font:54px 'Maria Pro',Helvetica,Arial,sans-serif;
    letter-spacing:-1px;
}

@media (max-width: 480px) and (min-width: 320px){.index-masthead-avery{
    font:24px 'Maria Pro',Helvetica,Arial,sans-serif;
    letter-spacing:0;
    width:100%;
    text-align:center;
    background:#ffffff;
    padding:15px 0 15px 0;
    }
    
}@media (min-width: 1600px){.index-masthead-avery{
    font-size:80px;
    line-height:90px
}
    
}@media (min-width : 480px) and (max-width : 1200px){.index-masthead-avery{
    font-size:40px
}
    
}.index-masthead-description{
    text-indent:0%;
    display:inline-block;
    width:70%;
    font:54px Helvetica,Arial,sans-serif;
    line-height: 120%;
    letter-spacing:-1px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

@media (max-width: 480px) and (min-width: 320px){.index-masthead-description{
    display:none
}
    
}@media (min-width: 1600px){.index-masthead-description{
    font-size:80px;
    line-height:90px
}
    
}@media (min-width : 480px) and (max-width : 1200px){.index-masthead-description{
    font-size:40px;
    width:80%
}
    
}.index-wrapper{
    width:90%;
    padding:0;
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter:alpha(opacity=0);
    -webkit-transform:translate3d(0,10%,0);
    -moz-transform:translate3d(0,10%,0);
    -o-transform:translate3d(0,10%,0);
    -ms-transform:translate3d(0,10%,0);
    transform:translate3d(0,10%,0);
    -webkit-transition:-webkit-transform 1s cubic-bezier(0.1, 0.1, 0, 1), opacity 1s ease;
    -moz-transition:-moz-transform 1s cubic-bezier(0.1, 0.1, 0, 1), opacity 1s ease;
    -o-transition:-o-transform 1s cubic-bezier(0.1, 0.1, 0, 1), opacity 1s ease;
    -ms-transition:-ms-transform 1s cubic-bezier(0.1, 0.1, 0, 1), opacity 1s ease;
    transition:transform 1s cubic-bezier(0.1, 0.1, 0, 1), opacity 1s ease;
}

.index-wrapper.index-wrappper-loaded{
    opacity:1 !important;
    -ms-filter:none;
    filter:none;
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}

.index-wrapper .article-odd{
    width:70%;
    
}

@media (min-width : 480px) and (max-width : 1200px){.index-wrapper .article-odd{
    width:100%
}
    
}@media (max-width: 480px) and (min-width: 320px){.index-wrapper .article-odd{
    width:100%
}
    
}.index-wrapper .article-even{
    padding-left:3%;
    
}


@media (min-width : 480px) and (max-width : 1200px){.index-wrapper .article-even{
    width:100%
}
    
}@media (max-width: 480px) and (min-width: 320px){.index-wrapper .article-even{
    padding-left:30px
}
    
}@media (min-width : 480px) and (max-width : 1200px){.index-wrapper .article-even{
    padding-left:30px
}
    
}.index-wrapper .article-even .author{
    text-indent:0%;
    
}

@media (max-width: 480px) and (min-width: 320px){.index-wrapper .article-even{
    text-indent:0
}
    
}.index-wrapper a{
    text-decoration:none
}

.index{
    font-size:54px;
    line-height:120%;
    letter-spacing:-1px;
    -webkit-transition:0.2s ease;
    -moz-transition:0.2s ease;
    -o-transition:0.2s ease;
    -ms-transition:0.2s ease;
    transition:0.2s ease;
}

@media (max-width: 480px) and (min-width: 320px){.index{
    font:24px 'Maria Pro',Helvetica,Arial,sans-serif;
    letter-spacing:0;
    line-height:115%;
}
    
}@media (min-width: 1600px){.index{
    font-size:80px;
    line-height:115%;
}
    
}@media (min-width : 480px) and (max-width : 1200px){.index{
    font-size:40px;
    line-height:45px
}

    
    
}.author{
    font-family:'Cormorant Garamond', serif;
    letter-spacing:-1px;
    line-height: 150%;
    -webkit-transition:0.2s ease;
    -moz-transition:0.2s ease;
    -o-transition:0.2s ease;
    -ms-transition:0.2s ease;
    transition:0.2s ease;
}

.author:after{
    content:""
}

@media (max-width: 480px) and (min-width: 320px){.author{
    font:24px 
    font-family:'Cormorant Garamond', serif;
    letter-spacing:0
}
    
}.post{
    margin-bottom:30px;
    padding-left:30px;
    -webkit-transition:border 0.1s ease;
    -moz-transition:border 0.1s ease;
    -o-transition:border 0.1s ease;
    -ms-transition:border 0.1s ease;
    transition:border 0.1s ease;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

.side-nav{
    width:6%;
    height:100%;
    position:fixed;
    top:0%;
    display:block;
    background:none;
    -webkit-transition:background 0.18s ease;
    -moz-transition:background 0.18s ease;
    -o-transition:background 0.18s ease;
    -ms-transition:background 0.18s ease;
    transition:background 0.18s ease;
    z-index:400;
    
}

.side-nav:hover{
    background:#fff !important;
    cursor:pointer
}

@media (max-width: 480px) and (min-width: 320px){.side-nav{
    display:none
}
    
}@media (min-width : 480px) and (max-width : 1200px){.side-nav{
    width:7.5%;
}
    

    

    
}.side-nav .arrow{
    display:block;
    font-size:54px;
    width:100%;
    height:100%;
}

.side-nav .arrow img{
    position:absolute;
    max-width:55%;
    top:50%;
    left:50%;
    -webkit-transform:translate3d(-50%,-50%,0);
    -moz-transform:translate3d(-50%,-50%,0);
    -o-transform:translate3d(-50%,-50%,0);
    -ms-transform:translate3d(-50%,-50%,0);
    transform:translate3d(-50%,-50%,0)
}

.side-nav .left-arrow{
    -webkit-transform:rotate(-180deg) translate3d(50%,50%,0) !important;
    -moz-transform:rotate(-180deg) translate3d(50%,50%,0) !important;
    -o-transform:rotate(-180deg) translate3d(50%,50%,0) !important;
    -ms-transform:rotate(-180deg) translate3d(50%,50%,0) !important;
    transform:rotate(-180deg) translate3d(50%,50%,0) !important
}

.download-pdf {
  display: block;
  text-align: center;
  padding-top: 40px;
    font:15px 'Cormorant Garamond', serif;
    letter-spacing:1px;
    text-decoration: none;
    
}
.download-text {
  display: inline-block;
}
.download-arrow {
  display: inline-block;
  vertical-align: top;
  height: 12px;
  -webkit-transform:rotate(-270deg) translate3d(50%,50%,0) !important;
  -moz-transform:rotate(-270deg) translate3d(50%,50%,0) !important;
  -o-transform:rotate(-270deg) translate3d(50%,50%,0) !important;
  -ms-transform:rotate(-270deg) translate3d(50%,50%,0) !important;
  transform:rotate(-270deg) translate3d(50%,50%,0) !important1
}

.right-side{
    right:0%
}

.left-side{
    left:0%
}

.toggle{
    width:5%;
    top:1.5%;
    cursor:pointer;
    z-index:1000;
    right:0.0%;
    position:fixed;
}

@media (max-width: 480px) and (min-width: 320px){.toggle{
    width:10%;
    top:5.0%
    padding-top:5px
}
    
    

    
}@media (min-width : 480px) and (max-width : 1200px){.toggle{
    width:6.75%;
    position:fixed;
}
    

    
}.toggle img{
    max-width:85%;
    align-content: center;
}

.issue-number{
    font:54px Helvetica,Arial,sans-serif;
    position:fixed;
    top:30px;
    right:7%;
}

@media (max-width: 480px) and (min-width: 320px){.issue-number{
    font-size:small;
    display:none
}
    
}@media (min-width: 1600px){.issue-number{
    font-size:80px
}
    
}@media (min-width : 480px) and (max-width : 1200px){.issue-number{
    font-size:18px
}
    
}footer{
    border-top:1px solid #6699ff;
    padding-left:30px;
    padding-right:60px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

footer .footer-colophon{
    width:27%;
    padding-top:20px;
    line-height:20px;
    float:left;
    padding-bottom:20px;
    padding-right:60px;
}

@media (max-width: 480px) and (min-width: 320px){footer .footer-colophon{
    width:90%;
    font-size:14px;
    float:none;
    padding-bottom:10px
}
    
}@media (min-width : 480px) and (max-width : 1200px){footer .footer-colophon{
    width:60%
}
    
}footer form{
    margin-bottom:30px;
    margin-top:7px;
    float:left;
    margin-right:60px;
}

@media (max-width: 480px) and (min-width: 320px){footer form{
    float:none;
    
}
    
}footer input{
    width:280px;
    background:none;
    border-bottom:2px solid #000000;
    border-left:none;
    font:100% 'Maria Pro',Helvetica,Arial,sans-serif;
    border-right:none;
    border-top:none;
    line-height:36px;
    padding:0;
    outline:none;
    
}

@media (max-width: 480px) and (min-width: 320px){footer input{
    width:210px;
    font:90% 'Maria Pro',Helvetica,Arial,sans-serif
}
    
}footer input[type="submit"]{
    display:inline-block;
    width:auto;
    font-size:30px;
    margin-left:-20px;
    text-align:center;
    cursor:pointer;
    border:none
}

.search-results{
    font:54px 'Maria Pro',Helvetica,Arial,sans-serif;
    padding:30px;
    letter-spacing:-1px;
    width:70%;
    position:relative;
    left:50%;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    transform:translateX(-50%);
}

.search-results a{
    text-decoration:none
}

.search-results li{
    margin-bottom:30px
}

.search-results form{
    margin-bottom:30px;
    position:relative;
    left:50%;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    transform:translateX(-50%)
}

.search-results input{
    width:280px;
    background:none;
    border-bottom:2px solid #000000;
    border-left:none;
    border-right:none;
    border-top:none;
    line-height:35px;
    padding:10px;
    font:18px 'Maria Pro',Helvetica,Arial,sans-serif;
    outline:none
}

.search-results input[type="submit"]{
    display:inline-block;
    width:auto;
    margin-left:-20px;
    font-size:34px;
    padding-top:30px;
    text-align:center;
    cursor:pointer;
    border:none;
    -webkit-transform:rotate(-45deg) translateY(10px);
    -moz-transform:rotate(-45deg) translateY(10px);
    -o-transform:rotate(-45deg) translateY(10px);
    -ms-transform:rotate(-45deg) translateY(10px);
    transform:rotate(-45deg) translateY(10px)
}

.menu{
    width:100%;
    z-index:500;
    position:fixed;
    text-align:center;
    padding:10px;
    line-height:60px;
    -webkit-transform:translate3d(0,-100%,0);
    -moz-transform:translate3d(0,-100%,0);
    -o-transform:translate3d(0,-100%,0);
    -ms-transform:translate3d(0,-100%,0);
    transform:translate3d(0,-100%,0);
    -webkit-transition:all 0.3s cubic-bezier(0.1, 0.1, 0, 1);
    -moz-transition:all 0.3s cubic-bezier(0.1, 0.1, 0, 1);
    -o-transition:all 0.3s cubic-bezier(0.1, 0.1, 0, 1);
    -ms-transition:all 0.3s cubic-bezier(0.1, 0.1, 0, 1);
    transition:all 0.3s cubic-bezier(0.1, 0.1, 0, 1);
    opacity:.5s;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50s)";
    filter:alpha(opacity=50s);
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    font:54px 'Cormorant Garamond', serif;
    background-color:#fff;
}

.menu.menu-loaded{
    -webkit-transform:translate3d(0,0,0) !important;
    -moz-transform:translate3d(0,0,0) !important;
    -o-transform:translate3d(0,0,0) !important;
    -ms-transform:translate3d(0,0,0) !important;
    transform:translate3d(0,0,0) !important;
    border-bottom:3px solid #6699ff;
}

@media (max-width: 480px) and (min-width: 320px){.menu{
    font:40px 'Cormorant Garamond', serif;
}
    
}.menu a{
    text-decoration:none
}

.menu form{
    margin-bottom:30px
}

.menu input{
    width:280px;
    background:none;
    border-bottom:2px solid #000000;
    border-left:none;
    border-right:none;
    border-top:none;
    line-height:35px;
    padding:10px;
    font:18px Helvetica,Arial,sans-serif;
    outline:none
}

.menu input[type="submit"]{
    display:inline-block;
    width:auto;
    margin-left:-20px;
    font-size:34px;
    padding-top:30px;
    text-align:center;
    cursor:pointer;
    border:none;
    -webkit-transform:rotate(-45deg) translateY(10px);
    -moz-transform:rotate(-45deg) translateY(10px);
    -o-transform:rotate(-45deg) translateY(10px);
    -ms-transform:rotate(-45deg) translateY(10px);
    transform:rotate(-45deg) translateY(10px)
}

.menu-mast{
    font:24px Helvetica,Arial,sans-serif;
    position:relative;
    text-align:center;
    margin-bottom:10px;
    left:50%;
    -webkit-transform:translate3d(-50%,0,0);
    -moz-transform:translate3d(-50%,0,0);
    -o-transform:translate3d(-50%,0,0);
    -ms-transform:translate3d(-50%,0,0);
    transform:translate3d(-50%,0,0)
}

.issues-pages-section{
    margin-top:20px
}

.issues-title{
    font:54px 'Cormorant Garamond', serif;
    text-align:center;
    margin:40px 0;
}

@media (min-width : 480px) and (max-width : 1200px){.issues-title{
    font-size:18px
}
    
}@media (max-width: 480px) and (min-width: 320px){.issues-title{
    font-size:18px
}
    
}.issues-links a{
    text-decoration:none
}

.issues-article{
    font-size:40px;
    margin:40px 0;
}

.issues-article a{
    text-decoration:none
}

@media (min-width : 480px) and (max-width : 1200px){.issues-article{
    font-size:40px;
    padding:20px
}
    
}@media (max-width: 480px) and (min-width: 320px){.issues-article{
    font-size:18px;
    margin-left:20px;
    padding:20px
}
    
}.issues-author{
    font-family:'Cormorant Garamond', serif;
    text-indent:7%
}

.issue-section{
    margin:0;
    padding:60px 0 120px 0
}

.issues-overview{
    width:75%;
    margin:0 auto;
}

@media (max-width: 480px) and (min-width: 320px){.issues-overview{
    width:100%
}
    
}@media (min-width : 480px) and (max-width : 1200px){.issues-overview{
    width:100%
}
    
}.issues-overview p{
    margin:0 0 30px 0;
    text-indent:7%;
}

.issues-overview p:first-of-type{
    text-indent:0 !important
}

.article-mast{
    font:24px 'Maria Pro',Helvetica,Arial,sans-serif;
    text-align:center;
    padding-top:15px;
    margin:0 auto;
}

.article-mast a{
    text-decoration:none;
}

@media (max-width: 480px) and (min-width: 320px){.article-mast{
    position:fixed;
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background:#ffffff;
    z-index:100;
    padding:15px 0 15px 0;
    margin-bottom:60px;
}
    
}.article-wrapper{
    display:block;
    left:50%;
    width:90%;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
    box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    margin:0 auto;
    font-size:18px;
    padding:30px;
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter:alpha(opacity=0);
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -o-transition:0.5s ease;
    -ms-transition:0.5s ease;
    transition:0.5s ease;
    
}


.article-wrapper.wrapper-loaded{
    opacity:1 !important;
    -ms-filter:none;
    filter:none
}

.article-wrapper figure{
    width:90%;
    margin:20px 30px 20px 7.4%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    font:12px Helvetica,Arial,sans-serif;
    line-height: 140%;
}

.article-wrapper figure img{
    width:100%;
    -webkit-transition:0.2s ease;
    -moz-transition:0.2s ease;
    -o-transition:0.2s ease;
    -ms-transition:0.2s ease;
    transition:0.2s ease;
    display:block;
    opacity:1;
    margin:0% 20% 0% 0%;
}

.article-wrapper figure img:hover{
    -webkit-filter:none;
    opacity:1;
    -ms-filter:none;
    filter:none
}

@media (max-width: 480px) and (min-width: 320px){.article-wrapper figure img{
    -webkit-filter:none
}
    
}@media (max-width: 480px) and (min-width: 320px){.article-wrapper{
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin:0;
    padding:20px;
    
}
    
}@media (min-width : 480px) and (max-width : 1200px){.article-wrapper{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0;
    margin:0 auto;
    width:90%
}
    
}.article-heading{
    position:relative;
    left:9%;
    width:70%;
    max-width:1200px;
    padding:10px;
    margin:0 auto 20px auto;
}

@media (max-width: 480px) and (min-width: 320px){.article-heading{
    width:100%;
    margin-top:80px;
    padding:0;
    left:0%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
    
}@media (min-width : 480px) and (max-width : 1200px){.article-heading{
    width:90%;
    left:3.5%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
    
}.article-title{
    display:inline-block;
    letter-spacing:-1px;
    font:62px 'Maria Pro',Helvetica,Arial,sans-serif;
    line-height:115%;
}

@media (min-width : 480px) and (max-width : 1200px){.article-title{
    font-size:40px;
    line-height:110%;
}
    
}@media (max-width: 480px) and (min-width: 320px){.article-title{
    font-size:22px;
    letter-spacing:0;
    line-height:120%;
}
    
}.article-author{
    font:54px 'Cormorant Garamond', serif;
    margin:0;
    line-height:60px;
    text-transform:uppercase;
    
    position:relative;
}

@media (min-width : 480px) and (max-width : 1200px){.article-author{
    font-size:40px;
    text-transform:uppercase;
}
    
}@media (max-width: 480px) and (min-width: 320px){.article-author{
    font-size:22px;
    line-height:26px;
    text-transform:uppercase;
}
    
    
    
}.article-motto{
    font:64px 'Cormorant Garamond', serif;
    margin:0;
    line-height:100px;
    left:-12%;
        position:relative;
    text-align: center;
}

@media (min-width : 480px) and (max-width : 1200px){.article-motto{
    font-size:50px;
    left:-4%;
        line-height:120px;
    text-align: center;
    
}
    
}@media (max-width: 480px) and (min-width: 320px){.article-motto{
    font-size:22px;
    line-height:26px;
    left:0%;
    text-align: center;
    
}
    
    
    
    

    
}.intro-text{
    width:55%;
    position:relative;
    font:30px 'Cormorant Garamond', serif;
    -webkit-font:antialiased;
    line-height:36px;
    margin:0 auto 25px 55px;
}
    
@media (min-width : 480px) and (max-width : 1200px){.intro-text{
    width:80%;
    position:relative;
    font:18px 'Maria Pro',Helvetica,Arial,sans-serif;
    -webkit-font:antialiased;
    line-height:25px;
    margin:0 auto 0 auto;
}
    
}@media (max-width: 480px) and (min-width: 320px){.intro-text{
    width:100%;
    position:relative;
    font:18px 'Maria Pro',Helvetica,Arial,sans-serif;
    -webkit-font:antialiased;
    line-height:25px;
    margin:0 auto 0 auto;
}

}.intro-text sup a{
    color:#000000;
    text-decoration:none;
}
    
    
    
    

}.article-body{
    width:52%;
    position:relative;
    font:18px 'Maria Pro',Helvetica,Arial,sans-serif;
    -webkit-font:antialiased;
    line-height:25px;
    margin:0 auto 100px auto;
}

@media (min-width : 480px) and (max-width : 1200px){.article-body{
    width:80%
}
    
}@media (max-width: 480px) and (min-width: 320px){.article-body{
    width:100%
}
    
}.article-body p{
    margin:0;
    text-indent:7%;
}

.article-body p:first-of-type{
    text-indent:0 !important
}

.article-body figure + p{
    text-indent:7%
}

.article-body sup{
    font-size:12px;
    vertical-align:baseline;
    display:inline;
    position:relative;
    top:-.8em;
    margin-right:2px;
    padding:4px;
    opacity:.8;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter:alpha(opacity=80);
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width:20px;
    height:5px;
    margin-left:5px;
    font-weight:bold;
    border-bottom:2px solid #fc0;
}

.article-body sup a{
    color:#000000;
    text-decoration:none
}

.article-body sup:hover{
    background-color: #6699ff;
}

.article-body ol{
    list-style-type:decimal
}

.article-body h1,.article-body h2,.article-body h3{
    display:inline-block;
    margin-bottom:30px;
    margin-top:30px;
    margin-left:13%;
    text-decoration:underline;
}

.article-body blockquote{
    margin-left:7.4%;
    margin-bottom:20px;
    margin-top:20px;
    font:15px 'Cormorant Garamond', serif;
    letter-spacing:1px;
    line-height:20px;
    text-transform:uppercase;
}

.article-bio{
    font:14px 'Cormorant Garamond', serif;
    text-align:center;
    line-height:18px;
    letter-spacing:1px;
    margin-top:30px;
    text-transform:uppercase;
}

.article-summary{
    position:fixed;
    text-align:center;
    padding:10px;
    width:100%;
    font-size:12px;
    opacity:1;
    -ms-filter:none;
    filter:none;
    border-top:1px solid #6699ff;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;bottom:0;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    -ms-transition:all 0.3s;
    transition:all 0.3s;
    -webkit-transform:translate3d(0,100%,0);
    -moz-transform:translate3d(0,100%,0);
    -o-transform:translate3d(0,100%,0);
    -ms-transform:translate3d(0,100%,0);
    transform:translate3d(0,100%,0);
    background:#ffffff;z-index:60;
}

.article-summary.article-loaded{
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0)
}

@media (max-width: 480px) and (min-width: 320px){.article-summary{
    display:none;
}
    
}@media (min-width : 480px) and (max-width : 1200px){.article-summary{
    display:none;
}
    
}.article-footnote-side{
    position:fixed;
    width:15%;
    top:50%;
    -webkit-transform:translateY(-70%);
    -moz-transform:translateY(-70%);
    -o-transform:translateY(-70%);
    -ms-transform:translateY(-70%);
    transform:translateY(-70%);
    right:8%;
    font:small Helvetica,Arial,sans-serif;
    opacity:1;
    -ms-filter:none;
    filter:none;
    -webkit-transition:0.2s ease;
    -moz-transition:0.2s ease;
    -o-transition:0.2s ease;
    -ms-transition:0.2s ease;
    transition:0.2s ease;
    line-height:16px;
    -o-text-overflow:ellipsis;
    text-overflow:ellipsis;
    -webkit-hyphens:auto;
    -moz-hyphens:auto;
    -ms-hyphens:auto;
    hyphens:auto;
    background-color: #ffffff;
    padding: 12px;
    border: 1px #ffffff ;
    
}



.footnotes{
    font:12px Helvetica,Arial,sans-serif; 
    padding: 0%,2%,0%;
    line-height: 140%;
    }
    

hr {
    color:#6699ff;
    margin-bottom:3%;
    border-top: 3px solid #6699ff;
}
@media (max-width: 480px) and (min-width: 320px){.article-summary{
    display:none;
}
    
}@media (min-width : 480px) and (max-width : 1200px){.article-summary{
    display:none;
}
    
    
.article-footnote-side a{
    word-wrap:break-word;
}

.article-footnote-side.side-loaded{
    opacity:1;
    -ms-filter:none;
    filter:none;
}

@media (min-width : 480px) and (max-width : 1200px){.article-footnote-side{
    display:none;
}
    
}@media (max-width: 480px) and (min-width: 320px){.article-footnote-side{
    display:none;
}
    
    


.reading{
    margin-bottom:10px;
}

figcaption{
    font:12px Helvetica,Arial,sans-serif;
    margin-top:10px;
    line-height:16px;
    width:100%;
}

figcaption a{
    word-wrap:break-word;
}

.footnotes{
    margin-top:30px;
    line-height:16px;
}

.footnotes hr{
    display:none
}

.footnotes ol{
    list-style-type:decimal;
    display:inline;
    font-size:12px;
    vertical-align:top;
    margin:0;
    padding:0
}

.footnotes a{
    word-wrap:break-word
}

.about-overview{
    width:55%;
    margin:0 auto;
}

@media (max-width: 480px) and (min-width: 320px){.about-overview{
    width:100%
}
    
}@media (min-width : 480px) and (max-width : 1200px){.about-overview{
    width:100%
}
    
}.about-overview p{
    margin:0 0 30px 0;
    text-indent:7%;
}

.about-overview p:first-of-type{
    text-indent:0 !important
}

.about-staff{
    font:18px 'Cormorant Garamond', serif;
    padding:30px;
    letter-spacing:1px;
    text-align:center
}

.about-credits{
    text-align:center;
    width:55%;
    position:relative;
    margin:0 auto;
}

.about-credits ul{
    font:small 'Cormorant Garamond', serif;
    padding:30px;
    letter-spacing:1px
}

@media (max-width: 480px) and (min-width: 320px){.about-credits{
    width:100%
}
    
}.about-motto{
    text-align:center;
    font:54px 'Cormorant Garamond', serif;
    width:70%;
    position:relative;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    transform:translateX(-50%);
    left:50%;
    margin-bottom:30px;
}

@media (max-width: 480px) and (min-width: 320px){.about-motto{
    font:22px 'Cormorant Garamond', serif;
    margin-top:70px
}
    
}@media (min-width : 480px) and (max-width : 1200px){.about-motto{
    margin-top:70px
}
    
}.about-subscribe{
    position:relative;
    left:50%;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    transform:translateX(-50%);
    text-align:center;
}

.about-subscribe form{
    margin-bottom:30px
}

.about-subscribe input{
    width:280px;
    background:none;
    border-bottom:2px solid #000000;
    border-left:none;
    font:100% Helvetica,Arial,sans-serif;
    border-right:none;
    border-top:none;
    line-height:20px;
    padding:10px;
    outline:none;
}

@media (max-width: 480px) and (min-width: 320px){.about-subscribe input{
    width:210px;
    font:90% Helvetica,Arial,sans-serif
}
    
}.about-subscribe input[type="submit"]{
    display:inline-block;
    width:auto;
    font-size:30px;
    margin-left:-20px;
    text-align:center;
    cursor:pointer;
    border:none
}




.submissions-overview{
    width:55%;
    position:relative;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    transform:translateX(-50%);
    left:50%;
}

@media (max-width: 480px) and (min-width: 320px){.submissions-overview{
    width:100%;
    margin-top:60px
}
    
}@media (min-width : 480px) and (max-width : 1200px){.submissions-overview{
    width:100%
}
    
}.submissions-overview p{
    margin:0;
    text-indent:13%;
}

.submissions-overview p:first-of-type{
    text-indent:0 !important
}

progress{
    width:90%;
    height:100%;
    position:absolute;
    top:0;
    left:5%;
    z-index:-20;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border:none;
    background-color:transparent;
    color:#6699ff;
}

progress::-webkit-progress-bar{
    background-color:transparent
}

progress::-webkit-progress-value{
    background-color:#6699ff;
}

progress::-moz-progress-bar{
    background-color:transparent
}

#load{
    z-index:-300;
    display:block;
    position:absolute;
    left:50%;
    top:50%;
    width:66px;
    background:url("../images/spin.gif");
    height:66px;
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    -ms-transition:all 0.2s ease;
    transition:all 0.2s ease;
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    font:18px 'Cormorant Garamond', serif;
}

.issues-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.issue-section {
  flex: 1 0 25%;
  margin: 10px;
  display: flex;
  flex-wrap: nowrap;
  padding: 60px 0;
}
.issue-meta {
  flex: 0 0 25%;
}
.issue-description {
  flex: 0 0 75%;
}
.issue-landing-number {
  font:54px Helvetica,Arial,sans-serif;
  display: inline-block;
}
.issue-date {
  display: block;
  
}

@media (max-width: 780px) {
  .issue-section {
    flex: 1 0 40%;
  }
}

@media (max-width: 480px) {
  .issue-section {
    flex: 1 0 80%;
    padding: 30px 0;
  }
}
